/* Global Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #d0f0c0;
    margin: 0;
    padding: 0;
    color: #333;
}

/* Header */
header {
    text-align: center;
    background-color: #bada55;
    padding: 20px 0;
    border-bottom: 2px solid #333;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    color: #333;
}

header p {
    font-size: 1.2em;
    color: #006400; /* Texto verde oscuro */
}

/* Navigation */
nav {
    background-color: #bada55;
    text-align: left;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin-bottom: 5px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* Main content */
.content-wrapper {
    padding: 20px;
    background-color: #c5f6a5; /* Fondo verde claro */
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.float-left {
    float: left;
    margin-right: 15px;
    width: 150px; /* Tamaño más pequeño para coincidir con la imagen */
    height: auto;
}

.description {
    color: #333;
    background-color: #e0ffe0; /* Fondo de la caja de texto */
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Sombra suave */
}

.description p, .description ul {
    margin-bottom: 10px;
}

.description ul {
    list-style-type: square;
    padding-left: 20px;
}

/* Footer */
footer {
    text-align: center;
    padding: 10px;
    background-color: #bada55;
    border-top: 2px solid #333;
    font-size: 0.9em;
    color: #333;
}

footer p {
    margin: 5px;
}
